@import url("@livechat/design-system-react-components/dist/style.css");
@import url("@livechat/developer-ui-react/dist/index.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}
